.errors, .welcome {
	font-size: 18px;
	text-align: center;
	height: auto;
	width: auto;
	color:white;
	border-radius: 5px;
	border: 1px;
}
.errors {background-color: #ff4d4d;}
.welcome{background-color: #00e673;}
.form_ent {font-size: 12px;}
.login {
	text-align: center;
	height: auto;
	width: auto;
}
.menu {font-size: 20px;}
.orders, .entry {
	height:200px;
	width: 200px;
	border-radius: 100px;
	background-color: #856ba0;
	margin: 0 auto;
}
.entry, .orders {text-align: center;}
.orders img { margin-top:20px;}
.entry img { margin-top:20px;}
.logo-header img {margin-left:35px;}
footer {text-align: center;}
.logout {font-size: 16px;}
.logout a:hover {
	background-color: #bcb1bc;
	text-decoration: none;
}

.logo-header a:hover { text-decoration: none;}
.view-bas {font-size: 15px;}
.selected {font-weight: bold;}
.bttn-edit{color:white; text-decoration: none; }
.bttn-edit a:hover{text-decoration: none; color:white;}
.not{font-size: 20px;}
.stat {
	font-size: 20px;
	border: 1px solid #00e673;
	border-radius: 5px;
	background-color: #00e673;
	color: white;
	text-align: center;
}
.notifications{
	height:400px;
	overflow: scroll;
	overflow-x: hidden; 
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}